#top0
{
	width: 100%;
	height:150px;
	text-align: center;
}
#a_container
{
	margin-top: 50px;
	width:100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.title0
{
	font-size: 30px;
	font-weight: 600;
}